.notes-create-container {
    background-color: #F5F5F5;
    margin: 30px 20px 30px 20px;
    /* width: 1000px; */
    height: 400px;
    border-radius: 10px;
    text-align: start;
    color: #203562;

    >.add-notes {
        padding: 30px 50px 0px 50px;
    }

    >.set-time {
        background-color: #E3E8F8;
        font-size: small;
        font-weight: 600;
        margin: 30px 0px 0px 50px;
        padding: 10px 15px 10px 15px;
        border-radius: 30px;
    }

    >.toolbar {
        margin: 30px 0px 0px 50px;
        display: flex;
        gap: 0px 20px;

    }
}

.saved-notes-container {
    text-align: start;
    margin: 30px 0px 0px 30px;
    overflow-x: scroll;


    >.notes-heading {
        color: #203562;
        font-weight: bold;
        font-size: x-large;
        gap: 20px;
    }

    >.heading-1 {
        color: #4b5467;
        font-weight: 600;
        margin-top: 10px;
    }

    >.saved-note {
        display: flex;
        gap: 0 30px;
        width: 300px;
        height: auto;
        >.notes-updated {
            background-color: #F5F5F5;
            border-radius: 20px;
            margin: 20px 0px 0px 0px;
            padding: 20px;
            color: #203562;

            >.note-update-title {
                display: flex;
                justify-content: space-between;
                font-weight: bold;
                font-size: x-large;

                >.editing-icon {
                    display: flex;
                }
            }

            >.note-update-content {
                color: #303030;
            }

            >.note-update-time {
                color: #686868;
                margin-top: 5px;
            }
        }

    }

}