.app-container{
    display: flex;
    height: 120vh;
    font-family: Montserrat;

    > .sidebar{
        width: 20%;
        background: #F5F5F5;

    }
    > .content-container {
        width: 80%;
        background: #E3E8F8;

    }
}